{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixmate</title>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
</head>
<body>
    <img src="{% static 'images/landing-bg.svg' %}" class="bg">

    {% include 'components/header.html' %}

    <main>
        <h1>Discover Trusted Services in Naga City with Fixmate</h1>
        <p>Access trusted local professionals for repairs, maintenance, and everyday services, all in one convenient platform.</p>
        <button class="btn">Find Services</button>
    </main>
</body>
</html>