{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fixmate</title>
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/global.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/services.css' %}">
    <!-- <link rel="stylesheet" href="{% static 'css/footer.css' %}"> -->

</head>

<body>


    {% include 'components/header.html' %}

    <main>
        <section class="filters">
            <h2>Filter</h2>
            <fieldset class="filter-group service-type">
                <legend>Service Type</legend>

                <label class="filter-option">
                    <input type="radio" name="service_type" value="all" checked>
                    <span class="box"></span>
                    <span class="text">All</span>
                </label>

                <label class="filter-option">
                    <input type="radio" name="service_type" value="plumbing">
                    <span class="box"></span>
                    <span class="text">Plumbing</span>
                </label>

                <label class="filter-option">
                    <input type="radio" name="service_type" value="cleaning">
                    <span class="box"></span>
                    <span class="text">Cleaning</span>
                </label>

                <label class="filter-option">
                    <input type="radio" name="service_type" value="repair">
                    <span class="box"></span>
                    <span class="text">Repair</span>
                </label>

                <label class="filter-option">
                    <input type="radio" name="service_type" value="installation">
                    <span class="box"></span>
                    <span class="text">Installation</span>
                </label>

                <label class="filter-option">
                    <input type="radio" name="service_type" value="maintenance">
                    <span class="box"></span>
                    <span class="text">Maintenance</span>
                </label>

                <label class="filter-option">
                    <input type="radio" name="service_type" value="outdoor">
                    <span class="box"></span>
                    <span class="text">Outdoor</span>
                </label>
            </fieldset>

            <fieldset class="filter-group price-range">
                <legend>Price Range</legend>

                <div class="price-inputs">
                    <input type="number" name="min_price" placeholder="Min" min="0">
                    <input type="number" name="max_price" placeholder="Max" min="0">
                </div>
            </fieldset>

        </section>

        <section>
            <div class="top-section">
                <h2>Services</h2>
                <h6>{{ services|length }} Services</h6>
            </div>

            <div class="service-grid">
                {% for service in services %}

                <a href="{% url 'service_detail' service.id %}" class="service-card">
                    <img src="{% static 'images/sample-worker.svg' %}" alt="handyman profile">
                    <div class="card-detail">
                        <h4>{{ service.name }}</h4>
                        <h6>{{ service.description|default:"Other Details" }}</h6>
                        <h6>
                            Price: ₱{{ service.price }}
                        </h6>
                    </div>
                </a>

                {% empty %}
                <p>No services available.</p>
                {% endfor %}
            </div>

        </section>

    </main>


</body>

</html>